  /* styling for forms */
  .form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .nav-link-custom {
    color: #1A402A !important;
}

  