  /* styling for forms */
  .form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #608c5461;
    color: #d9e6d6 !important;
    margin-bottom: 10px;
    border-width: 0;
  }

  .nav-link-custom {
    color: #1A402A !important;
}

  