.nav-link-custom {
  color: #1a402a !important;
  letter-spacing: 0.25em;
}

.dropdown-item, .a {
  --bs-nav-link-color: #457355 !important;
  --bs-nav-link-hover-color: #3c8c16 !important;
  letter-spacing: 0.25em;
  background-color: #cddcce;
  --bs-dropdown-link-active-bg: #3c8c16 !important;
}
