.nav-link-custom {
  color: #376d3c !important;
  letter-spacing: 0.25em;
}

.dropdown-item, .a {
  --bs-nav-link-color: #de857d !important;
  --bs-nav-link-hover-color: #61abae !important;
  letter-spacing: 0.25em;
  background-color: #ffffff;
  --bs-dropdown-link-active-bg: #917697 !important;
}

.krub-bold {
  font-family: "Krub", sans-serif;
  font-weight: 700;
  font-style: normal;
}