.footer {
    background-color: #608c5447;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    margin-top: auto;
}

.copyright {
    font-size: larger;
    color: #1A402A;
    font-weight: 500;
}
