html, body, #root {
  height: 100vh;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

:root {
  /* OVERALL STYLES FOR ENTIRE APP */
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*  add FONTS here */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #608C54; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: larger;
  font-weight: 500;
  color: #457355;
  text-decoration: inherit;
}

a:hover {
  color: #3C8C16;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #cddcce;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 600;
  color: #1A402A;
}

.nameTitle {
  background-color: #3b8c1665;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 500;
  color: #1A402A;
}

h5 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 400;
}

p {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 400;
  color: #1A402A;
}

ul li {
  font-size: 1em !important;
  font-weight: 500 !important;
  color: #1A402A;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 1em;;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #608254;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3C8C16;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Global Styles */
/* Adding barlow font and their weights */
.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}
  
.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}
